// The modules.config file is for specifying module/process-specific resource requirements

process {
    // Default resources
    cpus   = 1
    memory = 4.GB
    time = '4h'

    // ---------------------------------------------------------------
    // Labels
    // ---------------------------------------------------------------
    withLabel: 'small_job' {
        cpus   = 1
        memory = 4.GB
    }

    withLabel: 'medium_job' {
        cpus   = 4
        memory = 4.GB
    }

    withLabel: 'cpu_job' {
        cpus   = 4
        memory = 4.GB
    }

    withLabel: 'process_low' {
        cpus   = 1
        memory = 4.GB
    }

    // ---------------------------------------------------------------
    // Sex check
    // ---------------------------------------------------------------
    withName: 'NGSBITS_SAMPLEGENDER' {
        cpus   = 1
        memory = 4.GB
    }

    // ---------------------------------------------------------------
    // Repeat expansion modules
    // ---------------------------------------------------------------
    withName: 'EXPANSIONHUNTER' {
        cpus   = 16
        memory = 4.GB
    }

    withName: 'GANGSTR' {
        cpus   = 4
        memory = 4.GB
    }

    withName: 'STRANGER' {
        cpus   = 1
        memory = 4.GB
    }
}
